@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap');

.default {
    background-color: oklch(92.853% 0.01545 325.382);
    font-family: 'Inter', -apple-system, BlinkMacSystemFont, 'Segoe UI', sans-serif;
}

h1 {
    color: aqua;
    text-align: center;
    font-size: 60px;
}

.btn {
    display: inline-block;
    text-decoration: none;
    padding: 22px 37px;
    background: linear-gradient(to right, #a855f7, #ec4899);
    color: white;
    border: none;
    border-radius: 8px;
    font-size: 30px;
    font-weight: 600;
    cursor: pointer;
    transition: transform 0.1s ease, background 0.2s ease;
    margin-left: 8px;
}

.btn:hover {
    background: linear-gradient(to right, #9333ea, #db2777);
}

.btn:active {
    transform: scale(0.97);
}

.overlay {
    position:fixed;
    inset: 0;
    background: rgba(0, 0, 0, 0.6);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.hidden {
    display: none;
}

.calculator {
    animation: popIn 0.15s ease-out;
    width: 320px;
    height: 500px;
    border-radius: 24px;
    background: #0f172a;
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.5);
    padding: 20px;
}

@keyframes popIn {
    from {
        transform: scale(0.95);
        opacity: 0;
    }
    to {
        transform: scale(1);
        opacity: 1;
    }
}

.screen {
    background: #020617;
    color: white;
    height: 80px;
    border-radius: 12px;
    padding: 16px;
    font-size: 2rem;
    text-align: right;
}

.calcButton {
    /*These three lines horizontally and vertically center the text*/
    display: flex;
    justify-content: center;
    align-items: center;

    height: 60px;
    width: 80px;
    border-radius: 25px;
    font-size: 2rem;
    background: #49a7ff;
    color: white;
    margin-top: 20px;
    margin-bottom: 10px;
}

.buttonRow {
    display: flex;
    gap: 20px;
    justify-content: center;
}

.operator {
    height: 30px;
    width: 40px;
    font-size: 16px;
}

.lastRow {
    display:flex;
    gap: 16px;
    align-items: flex-start;
}

.operatorGrid {
    display: grid;
    grid-template-columns: repeat(3, 60px);
    row-gap: 4px;
    column-gap: 16px;
}

.operatorGrid .calcButton {
    height: 40px;
    margin-top: 0;
    margin-bottom: 0;
}