body {
    background: oklch(89.716% 0.06251 328.539);
}

h1 {
    color: aqua;
    text-align: center;
    font-size: 60px;
}

.btn {
    display: inline-block;
    text-decoration: none;
    padding: 12px 20px;
    background-color: linear-gradient(to right, #a855f7, #ec4899);
    color: white;
    border: none;
    border-radius: 8px;
    font-size: 16px;
    font-weight: 600;
    cursor: pointer;
    transition: transform 0.1s ease, background 0.2s ease;
}

.btn:hover {
    background-color: linear-gradient(to right, #9333ea, #db2777);
}

.btn:active {
    transform: scale(0.97);
}
